<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Hello E-commerce</title>
</head>

<body class="bg-light">
    <div class="container">
        <h1 class="text-info text-center">
            <br>Hello E-commerce
        </h1>
    </div>
    <div class="p-5">
        <div class="card-deck">
            <div class="row">
                {% for product in products %}
                <div class="col-sm-4">
                    <div class="card h-200">
                        <img src="/images/goho.jpg" alt="goho" class="card-img-top">

                        <div class="card-body">
                            <h4 class="card-title">{{ product.Name }}</h4>
                            <p class="card-title pricing-card-title">{{ product.Amount }} {{ product.Currency }}</p>
                            <p>{{ product.Description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container text-center">
            <form method="POST" action="/checkout">
                <div class="form-group">
                    <label for="select_item">SELECT</label>
                    <select class="form-control" name="select_item">
                        <option value='{"name": "Starry Night Over the Rhône", "value":100000}'>Starry Night Over the
                            Rhône</option>
                        <option value='{"name": "Water Lilies", "value": 200000}'>Water Lilies</option>
                        <option value='{"name": "Venice, the Doges Palace", "value":  300000}'>Venice, the Doge's Palace
                        </option>
                    </select>
                </div>
                <button id="checkout" class="btn btn-primary">Go to checkout</button>
            </form>
        </div>
    </div>
    <script>
        function checkout() {
            fetch('/checkout', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ "id": 78912 })
            })
                .then(response => response.json())
                .then(response => console.log(JSON.stringify(response)))
        }
        products = products
        console.log(products)
    </script>

    <!--JS plugin-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>