<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Hello E-commerce</title>
</head>

<body>
    <div class="container">
        <h1 class="text-info">
            <br>THANKS!
        </h1>
    </div>
    <h2>Customer Data</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>data name</th>
                    <th>row data</th>
                    <th>sh256 hashed data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>firstName</td>
                    <td>{{data.fn}}</td>
                    <td>{{hash_data.fn}}</td>
                </tr>
                <tr>
                    <td>lastName</td>
                    <td>{{data.ln}}</td>
                    <td >{{hash_data.ln}}</td>
                </tr>
                <tr>
                    <td>email</td>
                    <td>{{data.em}}</td>
                    <td>{{hash_data.em}}</td>
                </tr>
                <tr>
                    <td>phone</td>
                    <td>{{data.ph}}</td>
                    <td>{{hash_data.ph}}</td>
                </tr>
                <tr>
                    <td>address</td>
                    <td>{{data.address}}</td>
                    <td>{{hash_data.address}}</td>
                </tr>
                <tr>
                    <td>address2</td>
                    <td>{{data.address2}}</td>
                    <td>{{hash_data.address2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--JS plugin-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>